body {
    background-image: linear-gradient(#ffffff, rgb(157, 231, 255), rgb(7, 0, 84));
}

img{
    width: 100%;
    height: 25%;
    object-fit: cover;
    border-radius: 1%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    min-width: 50%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.headerPanel {
    flex:0.5;
    background-image: linear-gradient(180deg, lightgray, gray);
    padding:5px;
}

.scrollContainer {
    overflow-y: scroll;
    flex:12;
    flex-wrap: wrap;
    border-top: 1px solid lightgray;
}

.header {
    width: 100%;
    font-size: 2vmax;
    color:rgb(7, 0, 84);
    font-weight: bold;
    text-align: center;
}

#searchBar {
    padding-top:10px;
    display: none;
    margin: 5px;
    border-top: 1px solid lightgray;
}

#nouvellesList {
    width: 100%;
    padding: 10px;
    text-align: justify;
}

.category {
    text-align: left;
    font-weight: bolder;
    font-size: 1.25vmax;
    text-decoration: underline solid;
    color: rgb(7, 0, 84);
}

.title {
    font-size: 1.5vmax;
    font-weight: 500;
    text-align: center;
}

.text {
    font-size: 1vmax;
}

.date {
    font-size: 0.75vmax;
    text-align: start;
    font-style: italic;
}

.headerLayout {
    display: grid;
    grid-template-columns: 50px auto 35px 35px 19px;
    align-items: center;

}
.searchBarLayout {
    display: grid;
    grid-template-columns: 0.5fr 40px 1fr 35px 35px 16px;
    align-items: center;

}
.nouvelleLayout {
    display: block;
    align-items: center;
    border-radius: 8px;
    padding-left: 5px;

}

.nouvelleRow>.cmd {
    display: none;
}

.nouvelleRow:nth-child(even) {
    background-color: #d9e0f7;
}

.nouvelleRow:nth-child(odd) {
    background-color: #f2f2f2;
}

.nouvelleRow:hover>.cmd {
    display: inline-block;
}

.nouvelleRow:hover {
    background-color: rgb(195, 255, 255);
}

.cmd {
    cursor: pointer;
    font-size: 30px !important;
    font-weight: bold;
    color: blue;
    text-align: center;
}

.cmd:hover {
    color: rgb(2, 166, 221);
}

.cmd:active {
    color: lightblue;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div2, span2 {
    border:1px solid red;
}